/* main bar*/
.mainbar--content
{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.searchmainbar
{
    display: flex;
    justify-content:center ;
    align-items:center ;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    width:2.3rem ;
    height: 2.3rem;
}
.shopping:hover
{
    color: var(--white-color);
}
.search:hover
{
    color: var(--white-color);
}
.shoppingmainbar
{
    display: flex;
    justify-content:center ;
    align-items:center ;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    width:2.3rem ;
    height: 2.3rem;
    margin-right: 0.5rem;
}
.shoppingmainbar,
.searchmainbar:hover
{
 cursor: pointer;
}
.profilemainbar
{
    display: flex;
    justify-content:center ;
    align-items:center ;
    border: .1rem solid var(--primary-color);
    border-radius: 0.5rem;
    width:8.3rem ;
    height: 2.1rem;
    margin-right: 0.5rem;

}
.profilemainbar:hover
{
    background-color: var(--primary-color);
    transition: all 200ms ease-in-out;
}
.profilemainbar--span:hover
{
    color: var(--white-color);
    transition: all 200ms ease-in-out;
}
.mainbar--left
{
    display: flex;
    align-items: center;
}
/*right main bar*/

.mainbar--right
{
    display: flex;
}
.rightitem--link
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-left: 1rem;
    font-size: 1.2rem;
}
.marginsafeasli
{
    margin-right: 1rem;
}
.frontitemes
{
    margin-top: -2rem;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    transition:all 200ms ease-in-out ;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.267);
    width: 6rem;
    border-radius: 0.5rem;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
.rightitem
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.rightitem:hover .frontitemes
{
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease-in-out;
    top: 6rem;
}
.frontitem--link
{
    display: block;
    padding: 0.2rem 0.5rem;
    transition: all 300ms ease-in-out;
    color: var(--dark-color);
    font-size: 1rem;
}